@model  TrackPlanTest.Models.TrackPlanModel
@using System.Text;

@{
    if (string.IsNullOrWhiteSpace(Model.Name))
    {
        return;
    }
    ViewBag.Title = "DiagonalRow";
    int count = 0; int count1 = 2;
    var name = Model.Name.Replace(" ", "");
}
<table>
    @foreach (var nchar in name)
    {
        <tr>
            @for (int i = 0; i < count; i++)
            {
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            }
            <td><h3> @nchar </h3></td>
        </tr>
        count++;
    }
    <tr>
        <td>
            &nbsp;&nbsp;
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;&nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <p style="position: absolute; margin-top: 10px">Also in reverse:</p>
        </td>
    </tr>
    <tr>
        <td>
            &nbsp;&nbsp;
        </td>
    <tr>
    <tr>
        <td>
            &nbsp;&nbsp;
        </td>
    </tr>
    @foreach (var nchar in name)
    {
        <tr>
            @for (int i = name.Length; i >= count1; i--)
            {
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            }
            <td><h3> @nchar </h3></td>
        </tr>
        count1++;
    }
</table>
